


<!-- Footer -->
<footer class="bg-dark text-center text-white"style="background-color: #5F8D4E !important;font-family: 'Lobster Two', cursive !important;">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->

      <a id="canim"class="btn btn-outline-light btn-floating m-1" href="" role="button"
        ><i class="fab fa-youtube"></i
      ></a>

      <!-- Instagram -->
      <a  id="canim" class="btn btn-outline-light btn-floating m-1" href="" role="button"
        ><i class="fab fa-instagram"></i
      ></a>


      <!-- Google -->
      <a id="canim" class="btn btn-outline-light btn-floating m-1" href="" role="button"
        ><i class="fab fa-google"></i
      ></a>

      

      <!-- Linkedin -->
      

      <!-- Github -->
      <a  id="canim" class="btn btn-outline-light btn-floating m-1" href="https://github.com/hermannKonyar" role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->

    

    <!-- Section: Form -->
    <section class="">
      <form action="">
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
          <!--Grid column-->
          <div class="col-auto">
            <p class="pt-2">
              <strong>Abone Olabilirsiniz.</strong>
            </p>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-5 col-12">
            <!-- Email input -->
            <div class="form-outline form-white mb-4">
              <input type="email" id="form5Example21" class="form-control" />
              <label class="form-label" for="form5Example21">Email</label>
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-auto">
            <!-- Submit button -->
            <button type="submit" class="btn btn-outline-light mb-4">
              Abone olun.
            </button>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </form>
    </section>
    <!-- Section: Form -->

    <!-- Section: Text -->
    
    <!-- Section: Text -->

    <!-- Section: Links -->
    
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Merve  | Tüm hakları saklıdır.
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
